{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Przetargi{% endblock %}
{% endblock %}

{% block body %}
    {% for przetarg in przetargi %}
        <h5>Dane przetargu</h5>
        Nazwa: {{ przetarg.nazwa }} </br>
        Data wystawienia: {{ przetarg.dataRozpoczecia }} </br>
        Data zakończenia zgłaszania ofert: {{ przetarg.dataZakonczenia }} </br>
    {% endfor %}
{% endblock %}